div{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 45%;
}
header{
    visibility: visible;
    background-color: black;
    justify-content: stretch;
    align-items: flex-start;
}
h3{
    color: white;
}
h4{
    font-family: "Times New Roman", Times, serif;
    color: gray;
}

p{
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}
img{
    width: 80%;
}


